.cabinet {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;

        @media(max-width: $tablet_large) {
            flex-wrap: wrap;
        }
    }

    &__content {
        display: flex;
        @media(max-width: $desktop) {
            flex-wrap: wrap;
        }
    }

    &__section {
        margin-bottom: 30px;

        &--slider,
        &--info,
        &--adds {
            width: 48%;
            max-width: 870px;
            margin-right: auto;
        }

        &--about,
        &--description,
        &--average {
            width: 50%;
            max-width: 930px;
            margin-right: 0;
        }

        @media(max-width: $desktop) {
            &--description {
                order: 1;
            }
            &--info {
                order: 2;
            }

            &--average {
                order: 1;
            }

            &--adds {
                order: 2;
            }

            &--info,
            &--adds {
                width: 100%;
                max-width: 100%
            }

            &--description,
            &--average {
                width: 100%;
                max-width: 100%
            }
        }

        @media(max-width: $tablet_large) {
            &--slider {
                width: 100%;
                max-width: 100%
            }
    
            &--about {
                width: 100%;
                max-width: 100%
            }
        }
    }
}