.adds
  .adds__header
    h2.cmn__title Реклама вашего объекта
    p.cmn__text.cmn__main Мы рекламируем Ваш объект на следующих источниках, нажмите на название сайта, чтобы проверить, как выглядит ваше объявление.

  .adds__stat
    include ./advert-stat