include ../../mixins/average_table

-
  content = [
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'С другой стороны, экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. В рамках спецификации современных стандартов, элементы политического процесса, вне зависимости от их уровня, должны быть ассоциативно распределены по отраслям. Лишь ключевые особенности структуры проекта неоднозначны и будут преданы социально-демократической анафеме. А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'С другой стороны, экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. В рамках спецификации современных стандартов, элементы политического процесса, вне зависимости от их уровня, должны быть ассоциативно распределены по отраслям. Лишь ключевые особенности структуры проекта неоднозначны и будут преданы социально-демократической анафеме.',
    'С другой стороны, экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. В рамках спецификации современных стандартов, элементы политического процесса, вне зависимости от их уровня, должны быть ассоциативно распределены по отраслям. Лишь ключевые особенности структуры проекта неоднозначны и будут преданы социально-демократической анафеме.'
  ]

-
  reports = [
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
  ]

-
  averagePerSquareList = [
    {
      name:  'Демпинговые цены от:',
      value: '2 000 000 – 3 000 000 р',
      class: 'cmn__danger',
      link: false
    },

    {
      name:  'Средние цены от:',
      value: '3 000 000 – 5 000 000 р',
      class: 'cmn__warning',
      link: false
    },

    {
      name:  'Высокие цены от:',
      value: '5 000 000 – 8 000 000 р',
      class: 'cmn__positive',
      link: false
    },
  ]

-
  averagePerObjectList = [
    {
      name:  'Демпинговые цены от:',
      value: '2 000 000 – 3 000 000 р',
      class: 'cmn__danger',
      link: true
    },

    {
      name:  'Средние цены от:',
      value: '3 000 000 – 5 000 000 р',
      class: 'cmn__warning',
      link: true
    },

    {
      name:  'Высокие цены от:',
      value: '155 000 000 р – 300 000 000 р',
      class: 'cmn__positive',
      link: true
    },
  ]

.description
  .description__header
    span.cmn__text.cmn__text--med Описание

  .description__content
    each text in content
      p.cmn__text= text
  
  .description__report
    span.cmn__text.cmn__text--med.cmn__main.cmn__f-semi Отчет для клиента:

    .description__report-content
      each report in reports
        p.cmn__text.cmn__f-semi.cmn__main= report
      
    //button(type="button").js-report-collapse-btn.cmn__text.cmn__text--info.cmn__underline.cmn__f-semi Развернуть