section.cabinet
  .cmn__container
    .cabinet__container
      h1.visually-hidden Агентство недвижимости "Первое Ипотечное Агентство". Презентация объекта

      .cabinet__header
        .cabinet__section.cabinet__section--slider
          include ./blocks/slider
        .cabinet__section.cabinet__section--about
          include ./blocks/about

      .cabinet__content.cabinet__content--middle
        .cabinet__section.cabinet__section--info
          include ./blocks/info
        .cabinet__section.cabinet__section--description
          include ./blocks/description
      
      .cabinet__content.cabinet__content--bottom
        .cabinet__section.cabinet__section--adds
          include ./blocks/adds
        .cabinet__section.cabinet__section--average
          include ./blocks/average
          
      
      
      
