.adds {
    &__header {
        h2 {
            margin-bottom: 30px;
        }
        margin-bottom: 30px;

        @media(max-width: $tablet_large) {
            h2 {
                margin-bottom: 20px;
            }
            margin-bottom: 16px;
        }
    }
}