.object-card {
    position: relative;
    display: flex;
    padding: 20px 0;

    @media(max-width: 400px) {
        flex-direction: column;
    }

    &-slider {
        width: 220px;
        margin-right: 20px;
        height: 210px;

        a {
            width: 100%;
            height: 100%;
            display: block;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @media(max-width: $tablet) {
            position: absolute;
            top: 16px;
            left: 0;

            width: 160px;
            height: 132px;
        }

        @media(max-width: 400px) {
            position: relative;
            top: 0;
            width: 100%;
            height: 192px;
            margin-right: 0;
            object-fit: cover;
            margin-bottom: 20px;
        }
    }

    

    .object-card-slider-button-prev,
    .object-card-slider-button-next {
        width: 30px;
        height: 30px;
        transform: translateY(50%);

        background-image: url('../assets/img/slider-arr.svg');
        background-repeat: no-repeat;
        background-size: 10px 21px;
        background-position: center;
    }

    .object-card-slider-button-next {
        transform: rotate(180deg) translateY(-50%);
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__header {
        padding-bottom: 10px;
        border-bottom: $light-border;
        padding-right: 20px;

        &-top {
            margin-bottom: 10px;
            span {
                margin-right: 20px;
            }

            @media(max-width: $tablet) {
                display: flex;
                flex-direction: column;
                span {
                    margin-bottom: 10px;
                }
            }
        }

        @media(max-width: $tablet) {
            min-height: 140px;
            padding-left: 175px;
        }

        @media(max-width: 400px) {
            padding-left: 0;
            min-height: initial;
            padding-bottom: 20px;
        }
    }

    &__content {
        display: flex;

        @media(max-width: 400px) {
            flex-direction: column;
        }

        &-field {
            display: flex;
            flex-direction: column;
            width: 50%;
            
            padding-top: 10px;
            padding-bottom: 30px;
            padding-right: 20px;

            @media(max-width: $tablet) {
                padding-bottom: 10px;
            }

            @media(max-width: 400px) {
                width: 100%;
                padding-bottom: 0;
            }

            span {
                margin-bottom: 10px;
            }

            &:first-child {
                border-right: $light-border;

                @media(max-width: 400px) {
                    border-right: 0;
                }
            }

            &:not(:first-child) {
                padding-left: 20px;
                @media(max-width: 400px) {
                    padding-left: 0;
                    padding-top: 0;
                }
            }
        }

        &-ref {
            margin-left: 10px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding-top: 10px;
        border-top: $light-border;

        span {
            margin-right: auto;
            &.cmn__danger {
                position: relative;
                padding-right: 16px;

                &::after {
                    position: absolute;

                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    content: '';

                    width: 12px;
                    height: 12px;

                    background-image: url("../assets/img/arr-down-icon.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 12px;
                }
            }
        }

        a {
            margin-right: 20px;

            @media(max-width: 400px) {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}